<div *ngIf="loginService.userLogged.perfil == 'a' || loginService.userLogged.perfil == 'A' ">
    <div class="contenedor">
        <form class="card text-white bg-dark mb-3"  action="" #formContrato="ngForm"  id="printJS-form">
          <div class="card-header alert-link alert-primary text-center h2">Contratos</div>
          <div class="card-body">
            <div class="form-group row">
              <label for="idpropietario" class="col-sm-12 col-md-2">Propietario</label>
              <select id="idpropietario" class="form-control col-sm-12 col-md-8" required
                   name="propietario" #propietario1="ngModel" [(ngModel)] = "contrato.propietario">
                  <option *ngFor="let user of propietarios" [ngValue]="user">{{user.apellido}}</option>
              </select>
            </div>
            <div *ngIf="propietario1.invalid && (propietario1.dirty || propietario1.touched)" class="alert alert-danger">
              <div *ngIf="propietario1.errors.required">
                Propietario es requerido.
              </div>
            </div>         
            
            <div class="form-group row">
                <label for="idLocal" class="col-sm-12 col-md-2">Local</label>
                <button data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">Agregar Local</button>
            </div>
    
            <div class="form-group row">
              <label for="idCostoAlq" class="col-sm-12 col-md-2">Costo Alquiler</label>
              <input id="idCostoAlq" class="form-control col-sm-12 col-md-8" required
                    type="number" name="costoTotalAlq" #costoTotalAlq="ngModel" [(ngModel)]="contrato.costoTotalAlq"/>
            </div>
            <div *ngIf="costoTotalAlq.invalid && (costoTotalAlq.dirty || costoTotalAlq.touched)" class="alert alert-danger">
              <div *ngIf="costoTotalAlq.errors.required">
                Costo de Alquiler es requerido.
              </div>
            </div>         
    
            <div class="form-group row">
                <label for="idFecha" class="col-sm-12 col-md-2">Fecha</label>
                <input id="idFecha" class="form-control col-sm-12 col-md-8" required
                    type="date" name="fecha" #fecha="ngModel" [(ngModel)]="contrato.fecha"/>
              </div>
              <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)" class="alert alert-danger">
                <div *ngIf="fecha.errors.required">
                  Fecha es requerida.
                </div>
              </div> 

            <div class="form-group text-center">
                <button class="btn btn-secondary ml-2 mr-2" [disabled]="formContrato.invalid"
                 (click)="guardarcontrato()" ><i class="fas fa-save fal"></i> Guardar</button>
                <button class="btn btn-secondary ml-2 mr-2" (click)="modificarcontrato()"><i class="fas fa-save fal"></i> Modificar</button>            
                <button class="btn btn-secondary ml-2 mr-2"  (click)="limpiarcontrato()"><i class="fas fa-brush"></i> Limpiar</button>
            </div>
          </div>
        </form>
        <div class="row"><h3 class="alert alert-primary col-12 text-center">Listado de Contratos</h3></div>        
        <table class="table table-dark" id="tabla" >
            <thead>
              <tr>
                <th scope="col">Propietario</th>
                <th scope="col">Local</th>
                <th scope="col">Costo Alquiler</th>
                <th scope="col">Fecha</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let variable of contratos">
               <th scope="row">{{variable.propietario.apellido}}</th>
                <td scope="row"><p *ngFor="let item of variable.locales" >{{item.descripcion}} </td> 
                <td scope="row">{{variable.costoTotalAlq}}</td>
                <td scope="row">{{variable.fecha | date:'yyyy-MM-dd'}}</td>
                <td> 
                  <button class="btn btn-primary" (click)="elegircontrato(variable)">Seleccionar</button>
                  <button class="btn btn-primary" (click)="borrarcontrato(variable)">Borrar</button>
                  <button class="btn btn-primary" (click)="Print()">Imprimir pdf</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="text-mensaje3" class="col-form-label">dni</label>
            <select id="idLocal" class="form-control form-control-sm col-md-8" required multiple
            name="locales" #locales1="ngModel" [(ngModel)] = "local">
             <option *ngFor="let item of locales" [ngValue]="item">{{item.descripcion}}</option>
            </select>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)= "guardarLocal()">Guardar</button>
      </div>
    </div>
  </div>
</div>