<header class="row">
  <div class="col-md-12">
    <h1 class="text-center">Galeria LD</h1>
  </div>
  <div class="col-md-12">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['noticias']" routerLinkActive="router-link-active">Noticias</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['locales']" routerLinkActive="router-link-active"*ngIf="loginService.vistaLocales">Locales</a> 
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['contratos']" routerLinkActive="router-link-active"*ngIf="loginService.vistaContrato">Contratos</a> 
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['novedades']" routerLinkActive="router-link-active"*ngIf="loginService.vistaNovedades">Novedades</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['usuarios']" routerLinkActive="router-link-active" *ngIf="loginService.vistaUsuarios">Usuarios</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['propietarios']" routerLinkActive="router-link-active" *ngIf="loginService.vistaPropietario">Propietarios</a>
          </li>
            <a *ngIf="!loginService.userLoggedIn" [routerLink]="['login']">Login</a>
            <a *ngIf="loginService.userLoggedIn" [routerLink]="['login']" (click)="logout()">Salir</a>
        </ul>
      </div>
    </nav>
  </div>
</header>

