<div *ngIf="loginService.userLogged.perfil == 'a' || loginService.userLogged.perfil == 'A'">
<div class="contenedor">
    <form class="card text-white bg-dark mb-3"  action="" #formUsuario="ngForm" >
      <div class="card-header alert-link alert-primary text-center h2">Usuarios</div>
      <div class="card-body">
        <div class="form-group row">
            <label for="idusuario" class="col-sm-12 col-md-2">Usuario</label>
            <input id="idusuario" class="form-control col-sm-12 col-md-8" required minlength="6"
                type="text" name="usuario" #usuario1="ngModel"
                [(ngModel)]="usuario.usuario"/>
        </div>
        <div *ngIf="usuario1.invalid && (usuario1.dirty || usuario1.touched)" class="alert alert-danger">
          <div *ngIf="usuario1.errors.required">
            Usuario es requerido.
          </div>
          <div *ngIf="usuario1.errors.minlength">
            Usuario debe tener al menos 6 caracteres.
          </div>
        </div>   

        <div class="form-group row">
            <label for="idpassword" class="col-sm-12 col-md-2">Password</label>
            <input id="idpassword" class="form-control col-sm-12 col-md-8" required minlength="4"
                 type="password" name="password" #password="ngModel"
                  [(ngModel)] = "usuario.password"/>
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors.required">
            Contraseña es requerida.
          </div>
          <div *ngIf="password.errors.minlength">
            Contraseña debe tener al menos 4 caracteres.
          </div>
        </div>

        <div class="form-group row">
            <label for="idActivo" class="col-sm-12 col-md-2">Activo</label>
            <input id="idActivo" class="form-check-input form-control offset-1" 
              type="checkbox" name="activo" #activo="ngModel" 
                  [(ngModel)] = "usuario.activo"/>
        </div>


        <div class="form-group row">
          <label for="idsector" class="col-sm-12 col-md-2">Perfil</label>
          <select id="idsector" class="form-control col-sm-12 col-md-8" required
               name="perfil" #perfil="ngModel"
              [(ngModel)] = "usuario.perfil">
                <option value="P">Inquilino (propietario)</option>
                <option value="a">Administrativo</option>
                <option value="s" selected>Seleccionado..</option>
          </select>
        </div>   
        <div *ngIf="perfil.invalid && (perfil.dirty || perfil.touched)" class="alert alert-danger">
          <div *ngIf="perfil.errors.required">
            Perfil es requerido.
          </div>
        </div>

        <div class="form-group text-center">
            <button class="btn btn-secondary ml-2 mr-2" [disabled]="formUsuario.invalid"
             (click)="guardarUsuario()" ><i class="fas fa-save fal"></i> Guardar</button>
            <button class="btn btn-secondary ml-2 mr-2" (click)="modificarUsuario()"><i class="fas fa-save fal"></i> Modificar</button>            
            <button class="btn btn-secondary ml-2 mr-2"  (click)="limpiarUsuario()"><i class="fas fa-brush"></i> Limpiar</button>
        </div>
      </div>
    </form>   
    <div class="row"><h3 class="alert alert-primary col-12 text-center">Listado de usuarios</h3></div>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Usuario</th>
            <th scope="col">Password</th>
            <th scope="col">Activo</th>
            <th scope="col">Perfil</th>
            <th >Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let variable of usuarios">
            <th scope="row">{{variable.usuario}}</th>
            <td>{{variable.password}}</td>
            <td>{{variable.activo}}</td>
            <td>{{variable.perfil}}</td>
            <td> 
              <button class="btn btn-primary" (click)="elegirUsuario(variable)">Seleccionar</button>
              <button class="btn btn-primary" (click)="borrarUsuario(variable)">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>