<div *ngIf="loginService.userLogged.perfil == 'a' || loginService.userLogged.perfil == 'A'">
<div class="contenedor">
    <form class="card text-white bg-dark mb-3" #formNoticia="ngForm">
      <div class="card-header alert-link alert-primary text-center h2">Agregar Noticia</div>
      <div class="card-body">
        <div class="row form-group">
          <label class="col-sm-12 col-md-2" for="Titulo">Titulo:</label>
          <input class="form-control col-sm-12 col-md-8" type="text" id="titulo" name="titulo" required minlength="6" [(ngModel)] = "noticia.titulo" #titulo="ngModel"/>
          <div *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)" class="alert alert-danger">
            <div *ngIf="titulo.errors.required">
               Ingrese un Titulo
            </div>
            <div *ngIf="titulo.errors.minlength">
              Debe tener 6 digitos.
            </div>
          </div>
        </div>
       
        <div class="row form-group">
            <label class="col-sm-12 col-md-2" for="descripcion">Descripcion:</label>
          <textarea class="form-control col-sm-12 col-md-8" id="descripcion" rows="5" name="descripcion" required minlength="50" [(ngModel)]="noticia.descripcion" #descripcion="ngModel"></textarea>
          <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="alert alert-danger">
            <div *ngIf="descripcion.errors.required">
              Debe escribir una Descripcion.
            </div>
            <div *ngIf="descripcion.errors.minlength">
              Como mucho 50 caracteres.
            </div>
          </div>
        </div>
        <div class="row form-group">
          <button type="submit" class="btn btn-outline-success " [disabled]="!formNoticia.form.valid" (click)="guardarNoticia()">PUBLICAR</button>
          <button type="reset" class="btn btn-outline-secondary text-dark" (click)="limpiarForm()">Limpiar</button>            
        </div>
      </div>   
    </form>
  </div>
</div>

<section id="slide">
  <div class="slider">
      <ul>
          <li><img src="assets/1.png" alt="Sliderr" height="420" width="1000"></li>
          <li><img src="assets/2.png" alt="Sliderr" height="420" width="1000"></li>
          <li><img src="assets/3.png" alt="Sliderr" height="420" width="1000"></li>
      </ul>
  </div>
</section>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Noticia:</h5>
        <button type="button" class="close btn-outline-secondary " data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="text-mensaje" class="col-form-label">Titulo:</label>
            <input name="textcobrador" type="text" class="form-control" id="text-mensaje" [(ngModel)]="noticia.titulo">
          </div>
          <div class="form-group">
            <label for="text-mensaje" class="col-form-label">Descripcion</label>
            <input type="text" name="text-monto" class="form-control" id="text-mensaje"[(ngModel)]="noticia.descripcion">
          </div>

            <div class="form-group">
              <label  class="col-form-label">Fecha:</label>
              <input type="date" name="fecha" class="form-control" id="fecha"[(ngModel)]="noticia.fecha" >
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary " data-dismiss="modal" aria-label="Close">Cancelar</button>
        <button type="button" class="btn btn-outline-success " data-dismiss="modal" (click)= "modificarNoticia()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <section id="section1" >
      <div id="titulo1" style="text-align: center;">Noticias</div>
      <div class="row form-group col-12">
        <div class="card col-md-6" *ngFor="let item of noticias">
          <div class="card-body ">
              <h5 class="card-title">{{item.titulo}}</h5>
              <h6 class="card-subtitle"><br>Autor: {{item.usuario.usuario}}</h6>
              <h6 class="card-subtitle"><br>Fecha: {{item.fecha | date:'dd-MM-yyyy'}}</h6>
              <p class="card-text">{{item.descripcion}}</p>
          </div>
          <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo" (click)="elegirNoticia(item)">Modificar</button>
          <button type="button" class="btn btn-outline-danger" (click)="borrarNoticia(item)">Eliminar</button>
        </div>
      </div>
  </section>   
</div>